.headerDesign {
  justify-content: space-between !important;
}

.footerSticky {
  justify-content: space-between !important;
  align-items: center;
}

.viewLogs {
  justify-content: space-between !important;
}
